<div class="page-container">
  <h1>Dashboard</h1>
  <app-grid-container>
    <div gridCell gcColSpan="2" gcRowSpan="3" class="card card-body">
      <h4>Multi Row & Col</h4>
    </div>
    <div gridCell class="card card-body">
      <h4>Single Row & Col</h4>
    </div>
    <div gridCell class="card card-body">
      <h4>Single Row & Col</h4>
    </div>
    <div gridCell class="card card-body">
      <h4>Single Row & Col</h4>
    </div>
    <div gridCell class="card card-body">
      <h4>Single Row & Col</h4>
    </div>
    <div gridCell gcColSpan="2" class="card card-body">
      <h4>Two Cols</h4>
    </div>
    <div gridCell class="card card-body">
      <h4>Single Row & Col</h4>
    </div>
    <div gridCell class="card card-body">
      <h4>Single Row & Col</h4>
    </div>
  </app-grid-container>
</div> 
